/*Start Variables*/
:root {
    --main-color: hsl(322, 100%, 66%);
    --text-color: #00252e;
}

/*End Variables*/
/*Start Global Roles*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

/*End Global Roles*/

/*Header*/
.header {
    padding: 3rem 5rem;
    /* padding-right: 25%;*/
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fir-btn {
    color: var(--main-color);
    border: hsl(322, 100%, 66%) solid 1px;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    padding: .6rem 3rem;
    font-weight: 600;
    justify-content: center;
    cursor: pointer;
}

.intro-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

 h1,h2{
    color:var(--text-color) ;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 2.59rem;
    width: max-content;
}

.intro-text p {
    text-align: center;
    font-size: large;
    width: fit-content;
    margin: 0 15%;
}

.sec-btn {
    position: absolute;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: large;
    transform: translate(-50%, -50%);
    padding: .4% 7%;
    border-radius: 30rem;
    border: var(--main-color) solid 1rem;
    left: 50%;
    margin-top: 7%;
    box-shadow: -3px 2px 10px 0px rgb(118 101 101);
    cursor: pointer;
}

.fir-btn:hover,
.sec-btn:hover,
.last-btn:hover {
    opacity: 70%;
}

.fir-img {
    position: absolute;
    margin-left: 15%;
    margin-top: 30%;

}

.comm-mess  {
   display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 85%;
    color:var(--text-color) ;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 2.59rem;
}
.comm , .mess {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: lighter;
    color: #626363;
}
.column {
    margin: 5rem auto;
  }
  .pattern-top-desktop,
  .pattern-bottom-desktop {
    display: block;
    width: 100%;
  }
  .pattern-top-mobile,
  .pattern-bottom-mobile {
    display: none;
  }
  .column__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;
    padding: 5rem;
  }
  .first,
  .third {
    background: hsl(207, 100%, 98%);
  }
  .column__text img {
    max-width: 100%;
    max-height: 100%;
  }
  .first img,
  .third img {
    order: 2;
  }
  .first section,
  .third section {
    order: 1;
  }
  .column__text h2 {
    font-size: 2.5rem;
  }
  .community {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 10rem auto;
  }
  .community h2 {
    font-size: 2rem;
  }
  .last-btn {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: large;
    padding: .6% 9%;
    border-radius: 30rem;
    border: var(--main-color) solid 1rem;
    box-shadow: -3px 2px 10px 0px rgb(118 101 101);
    cursor: pointer;
}
  
  .footer {
    padding: 5rem;
    background: var(--text-color);
    color: white;
    display: flex;
    justify-content: space-between;
  }
  .about,
  .sign-in section {
    max-width: 420px;
    margin: 0 1rem;
  }
  #footer-logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg)
      brightness(103%) contrast(103%);
    margin-bottom: 1.5rem;
  }
  .phone,
  .email {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
  }
  .email a {
    color: white;
    text-decoration: none;
  }
  .email a:hover {
    color: rgb(52, 204, 250);
    text-decoration: underline;
  }
 
  .media-icons {
    display: flex;
    gap: 1.5rem;
    margin: 3rem 0 1rem 0;
  }
  .media-icons i {
    color: white;
    font-size: 2.5rem;
  }

  .insta i:hover {
    color: red;
  }
  .twitter i:hover, 
  .face i:hover {
    color: rgb(6, 67, 251);
  }
  .sign-in h3 {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
  }
  .sign-in form {
    display: grid;
    grid-template-columns: minmax(auto, 400px) auto;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .infield input {
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    padding-left: 1rem;
  }
  .infield #error {
    color: hsl(0, 100%, 63%);
    font-size: 0.8rem;
    margin: 0.5rem 0;
    display: none;
  }
  .sign-in form button {
    color: white;
    background: var(--main-color);
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 3rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .sign-in form button:hover {
    background: hsl(321, 100%, 78%);
  }

